node_modules/
.vscode/
!.vscode/launch.json
*.backup
server/node_modules/
server/uploads/*
!server/uploads/.gitkeep
server/database/*.json
!server/database/lessons.json
!server/database/media.json
.DS_Store
.env
